*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.main{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.main img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    transition: 1s;
}

.main img:nth-child(2){
    transform: rotateY(180deg);
}

.main:hover img:nth-child(2){
    transform: rotateY(0deg);
}

.main:hover img:nth-child(1){
    transform: rotateY(-180deg);
}